* {
    padding: 0;
    margin: 0;
}

header {
    height: 150px;
    background-color: rgb(212, 194, 161);
    min-height: 100px;
    margin-bottom: 50px;
}

.actions,
.search {
    padding: 10px;
}

button {
    background: rgb(53, 50, 50);
    color: rgb(212, 194, 161);
    padding: 9px 45px;
    border: none;
}

.goods-list {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.goods-item {
    width: 250px;
    height: 350px;
    border: 2px solid rgb(53, 50, 50);
    padding-top: 10px;
    padding-left: 10px;
}

.goods-search {
    height: 30px
}